<div class="profiles">
    <div class="profile">
        <img src="/static/assets/max.jpg" alt="Max  Dokukin" class="profile__image">
        <h3 class="profile__name">Max  Dokukin</h3>
        <p class="profile__description">Data Scientist</p>
        <div class="profile__links">
            <a href="https://www.linkedin.com/in/maxdokukin/" target="_blank"><img src="/static/assets/linkedin.png" alt="LinkedIn" class="icon"></a>
            <a href="https://github.com/maxdokukin" target="_blank"><img src="/static/assets/github.png" alt="GitHub" class="icon"></a>
        </div>
        <ul class="profile__contributions">
            <li>Motivation, Story, and Project Direction</li>
            <li>Web App Architecture Design and Development</li>
            <li>Affordable Quantity Analysis</li>
            <li>Database Design and Maintenance</li>
        </ul>
    </div>

    <div class="profile">
        <img src="/static/assets/ryan.jpg" alt="Ryan Fernald" class="profile__image">
        <h3 class="profile__name">Ryan Fernald</h3>
        <p class="profile__description">Data Scientist</p>
        <div class="profile__links">
            <a href="https://www.linkedin.com/in/ryan-fernald" target="_blank"><img src="/static/assets/linkedin.png" alt="LinkedIn" class="icon"></a>
            <a href="https://github.com/ryanfernald" target="_blank"><img src="/static/assets/github.png" alt="GitHub" class="icon"></a>
        </div>
        <ul class="profile__contributions">
            <li>Data Collection and Cleaning</li>
            <li>Gini Statistical Methods and Housing Analysis</li>
            <li>Web Page Design and Development</li>
            <li>Cloud Deployment and Maintenance</li>
        </ul>
    </div>
</div>
