.container-about-us {
    max-width: 60%;
    margin: 0 auto;
    padding: 1rem; 
    text-align: center;
    font-family: Arial, sans-serif;
}

.section__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.profiles {
    display: flex;
    justify-content: space-between;
    gap: 1rem; 
    flex-wrap: wrap;
}

.profile {
    text-align: center;
    flex: 1;
    max-width: 70%; 
}

.profile__image {
    width: 14rem; 
    height: 14rem;
    border-radius: 50%; 
    object-fit: cover;
    margin: 2rem 0 1rem;
    border: 0.1rem solid #110606; 
}

.profile__name {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
}

.profile__description {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}

.profile__links {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.icon {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    transition: transform 0.2s ease;
}

.icon:hover {
    transform: scale(1.3);
}

.profile__contributions {
    list-style: disc;
    margin: 1rem 0 1;
    padding-left: 1.5rem;
    text-align: left;
    font-size: 1.2rem;
    color: #555;
    margin-left : 2rem;
}

.profile__contributions li {
    margin-bottom: 0.5rem;
}

.repository-link {
    margin-top: 2rem;
    text-align: center;
}

.repository-link__text {
    font-size: 1.2rem;
    color: #253441; 
    text-decoration: none;
    font-weight: bold;
    display: inline-block; 
    transition: transform 0.2s ease, color 0.2s ease; 
}

.repository-link__text:hover {
    color: #19738f; 
    transform: scale(1.3); 
}