.nav-link {
    background-color: lightblue !important;
    color: black !important;
    font-size: 16px !important;
    text-align: center;
    padding: 10px 15px !important;
}

.nav-link.active {
    background-color: darkblue !important;
    color: white !important;
    font-weight: bold;
}

.dash-bootstrap .nav-link {
    display: inline-block !important;
    margin: 0 !important;
    padding: 10px 15px !important;
    text-align: center !important;
    vertical-align: middle !important;
    background-color: lightblue !important;
    color: black !important;
    font-size: 16px !important;
    text-transform: none !important;
    opacity: 1 !important;
    border: none !important;
    width: 150px !important;
}

.dash-bootstrap .nav-link.active {
    background-color: darkblue !important;
    color: white !important;
    font-weight: bold !important;
    border-bottom: 2px solid white !important;
}

.dash-bootstrap .nav {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !important;
}