{% import "partials/macros.html" as macros %}
<div class="section-slide">
    {{ macros.button(label="Learn More about this Method", link="/methods/quantity-affordable", color="#693382", width=300, height=50) }}
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    {% for col in comparison_records[0].keys() %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in comparison_records %}
                <tr>
                    {% for value in row.values() %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="scroll-hint">&#8595;</div>
</div>
