{% import "partials/macros.html" as macros %}
<div class="section-slide">
    {{ macros.topbar(show_home=True, overlay=True) }}

    <div class="hero">
        <div class="overlay">
            <div class="overlay-content">
                <h1>Value Voyage</h1>
                <h2>A journey through decades of prices</h2>
            </div>
            <div class="overlay-footer">
                <h3>by Max Dokukin and Ryan Fernald</h3>
            </div>
        </div>
        <div class="scroll-hint">&#8595;</div>
    </div>
</div>
