{% import "partials/macros.html" as macros %}
<div class="section-slide">
    <div class="container-fluid mt-1">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="gini-trend"></div>
                <script type="application/json" id="gini-trend-data">{{ gini_trend_fig_json|safe }}</script>
            </div>
        </div>
    </div>
    {{ macros.button(label="Learn More about this Method", link="/methods/gini", color="#693382", width=300, height=50) }}
</div>
