<div class="section-slide">
    <div class="container-fluid mt-1">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="sankey-graph-slide15"></div>
                <script type="application/json" id="sankey-graph-slide15-data">{{ housing_sankey_fig_json|safe }}</script>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-5 mt-1">
                <div id="income-graph-slide15"></div>
                <script type="application/json" id="income-graph-slide15-data">{{ income_sankey_fig_json|safe }}</script>
            </div>
            <div class="col-4">
                <h2 class="mt-1 mb-3 ml-5">Remarks:</h2>
                <ul style="padding-left:20px;">
                    <li class="mb-2" style="list-style-type:disc;">20% Down Payment is assumed to avoid PMI (Private Mortgage Insurance).</li>
                    <li class="mb-2" style="list-style-type:disc;">30-Year Fixed Rate Mortgage is assumed.</li>
                    <li class="mb-2" style="list-style-type:disc;">Property Tax and Home Insurance are paid monthly. Annual costs approximated at:</li>
                    <ul style="margin-left:20px; list-style-type:circle;">
                        <li>1.1% of Property Value for Property Tax</li>
                        <li>0.07% of Home Value for Home Insurance</li>
                    </ul>
                    <li class="mb-2" style="list-style-type:disc;">Affordable Housing defined as spending &le;30% of income on housing costs.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
